html {
  height: 100%;
}
body {
    height: 100%;
    margin: 0;
    font-family: "Hiragino Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,Arial, sans-serif;
    color: #434a54;
    background-color: #fafafa;
}

.wrapper {
  min-width: 980px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
