.top-bar {
  line-height: 30px;
  letter-spacing: 1pt;
  text-align: center;
  color: $WhiteColor;
  .alert--notice {
  background-color: $LightBlueColor;
  }
  .alert--alert {
   background-color: $ErrorRedColor;
  }
}
