.chat-body
  %ul.chat-messages
    -(1..3).each do |i|
      %li.chat-message
        .chat-message__header
          %p.chat-message__name nakamra
          %p.chat-message__time 2017/01/17 15:55
        %p.chat-message__body Hello World
