.chat-user
  %h5
    = current_user.name
  .chat-user__icons
    = link_to new_group_path, class: 'chat-user__icon' do
      %i.fa.fa-pencil-square-o
    = link_to edit_user_registration_path, class: 'chat-user__icon' do
      %i.fa.fa-cog
