.chat-header
  .chat-header__group
    %h2
      = @group.name
    %p.chat-header__members
      Members:
      %span.chat-header__member
      - @group.groups_users.each do |group_user|
        = group_user.user.name
  .chat-header__edit
    %a
    = link_to edit_group_path(@group.id), class: "chat-header__edit--btn" do
      Edit
