.chat-footer
  %form.new-message{}
    %input{name: 'utf8', type: 'hidden'}
    .chat-footer__body
      %textarea{row: '1', placeholder: 'type a message'}
      .chat-footer__icon
        %i.fa.fa-image
    %input.chat-footer__submit-btn{type: 'submit', value: 'SEND'}
