- flash.each do |key,value|
  - if key == notice
    %div{class: "alert alert--notice"}
  - elsif key == alert
    %div{class: "alert alert--alert"}
  - else
    %div{class: "alert alert--#{key}"}
      = value
